
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}
/* inicio header*/
header{
    width: auto;
    height: 8%;
    border: 0.5px solid rgba(0, 0, 0, 0.062);
}
ul{
display: flex;
height: 50px;
text-decoration: none;
}
li {
    text-decoration: none;
    margin-top: 15px;
    margin-left: 25px;
    list-style-type: none;

}
.center-menu-header{
    text-decoration: none;
    color: black;
}

#logo{
    margin-right: 90px;
    color: black;
}
/* fim header*/

/*inicio body*/

.apresentacao{
    margin-left: 25px;
    margin-top: 30px;
    margin-right: 30px;
    text-align: left;
    letter-spacing: 1px;
}
.container {
    margin-top: 40px;
    display: flex;
    align-items: center;
    margin-left:25px;
}

.imagem-link {
    display: block; 
    text-decoration: none; 
}

.imagem-link img {
    max-width: 100%; 
}
/*fim body*/
footer{
    background: rgb(255, 255, 255);
    margin-left: 25px;
    padding-top: 30px;
}